.body{
    display: flex;
    width: 100%;
    
}
img{
    width: 100%;
}
.sort{
    margin-right: 20%;
}
.display-6{
    text-align: center;
}
.form{
    margin-top: 15%;
}

button{
    width: 100%;
    margin-top: 5%;

}
