body {
    background-color: #f8f7f7 !important;
}
aside {
    border-left: 1px solid #dee2e6!important;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    right: 0;
    top: 70px;
    padding: 30px;
}
label {
    font-size: 0.9rem !important;
}
input, select {
    line-height: 1rem !important;
    font-size: 0.8rem !important;
}
input {
    padding: 0.275rem .55rem !important;
}
img{
    width: 100%;
}
.navbar {
    position: fixed !important;
    width: 100%;
    height: 70px;
    z-index: 100;
}
.sort{
    margin-right: 20%;
}
.aside-header{
    text-align: center;
    margin: 0;
    word-spacing: 0.5rem;
    letter-spacing: 0.7rem;
}
.form{
    margin-top: 7%;
}
button{
    width: 100%;
    margin-top: 5%;

}
#tasks{
    width: 80%;
    margin: auto;
}
.task {
    padding: 2%;
}
